<div class="cartilla--de--cursos">
    <div class="botonera">
    <h2  id="titulo--especilidad">Cursos</h2>
        <ul>
                <li>
                    <button class="botones-de-especialidad" id="btnCiclo_Basico"> Ciclo Basico </button>
                </li>
                <li>
                    <button class="botones-de-especialidad" id="btnInformatica">Informatica</button>
                </li>
                <li>
                    <button class="botones-de-especialidad" id="btnConstruccion">Construccion</button>
                </li>
                <li>
                    <button class="botones-de-especialidad" id="btnElectromecanica">Electromecanica</button>
                </li>
        </ul>
    </div>
    <div>
    <h2 id="titulo--cursos"></h2>
        <ul id="botonera-cursos">
        </ul>
    </div>
</div>
