<div class="row text-center">
  <div class="col-sm-12 col-md-4">
    <h2 class="title">Basic Cycle</h2>
    <a href="courses/1ro1" class="btn btn-primary m-1">1ro1</a>
    <a href="courses/1ro2" class="btn btn-primary m-1">1ro2</a>
    <a href="courses/1ro3" class="btn btn-primary m-1">1ro3</a>
    <a href="courses/1ro4" class="btn btn-primary m-1">1ro4</a>
    <a href="courses/2do1" class="btn btn-primary m-1">2do1</a>
    <a href="courses/2do2" class="btn btn-primary m-1">2do2</a>
    <a href="courses/2do3" class="btn btn-primary m-1">2do3</a>
    <a href="courses/2do4" class="btn btn-primary m-1">2do4</a>
    <a href="courses/3ro1" class="btn btn-primary m-1">3ro1</a>
    <a href="courses/3ro2" class="btn btn-primary m-1">3ro2</a>
    <a href="courses/3ro3" class="btn btn-primary m-1">3ro3</a>
    <a href="courses/3ro4" class="btn btn-primary m-1">3ro4</a>
  </div>
  <div class="col-sm-12 col-md-4">
    <h2 class="title">Computing</h2>
    <a class="btn btn-primary m-1" href="courses/4to1">4to1</a>
    <a class="btn btn-primary m-1" href="courses/4to2">4to2</a>
    <a class="btn btn-primary m-1" href="courses/5to1">5to1</a>
    <a class="btn btn-primary m-1" href="courses/5to2">5to2</a>
    <a class="btn btn-primary m-1" href="courses/6to1">6to1</a>
    <a class="btn btn-primary m-1" href="courses/6to2">6to2</a>
    <a class="btn btn-primary m-1" href="courses/7mo1">7mo1</a>
    <a class="btn btn-primary m-1" href="courses/7mo2">7mo2</a>
  </div>
  <div class="col-sm-12 col-md-4">
    <h2 class="title">Construction</h2>
    <a class="btn btn-primary m-1" href="courses/4to1">4to1</a>
    <a class="btn btn-primary m-1" href="courses/5to1">5to1</a>
    <a class="btn btn-primary m-1" href="courses/6to1">6to1</a>
    <a class="btn btn-primary m-1" href="courses/7mo1">7mo1</a>
    <h2 class="title">Electromechanical</h2>
    <a class="btn btn-primary m-1" href="courses/4to1">4to1</a>
    <a class="btn btn-primary m-1" href="courses/5to1">5to1</a>
    <a class="btn btn-primary m-1" href="courses/6to1">6to1</a>
    <a class="btn btn-primary m-1" href="courses/7mo1">7mo1</a>
  </div>
</div>